/* Global Styles */
body {
    font-family: 'Lato', sans-serif;;
    background-color: #f8f8f8;
}

h2 {
    margin-bottom: 30px;
    color: #3C486B;
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
}

@media (max-width: 768px) {
  h2 {
    margin-bottom: 20px;
  }
}

p {
    font-size: 23px;
    line-height: 1.6;
}

label {
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
}

.red-button {
    font-family: 'Nunito', sans-serif;
    font-weight: 600;

    --bs-btn-color: #F0F0F0;
    --bs-btn-bg: #F45050;
    --bs-btn-border-color: #F45050;
    --bs-btn-hover-color: #F0F0F0;
    --bs-btn-hover-bg: #E63E3E;
    --bs-btn-hover-border-color: #DB3939;
    --bs-btn-focus-shadow-rgb: 244,80,80;
    --bs-btn-active-color: #F0F0F0;
    --bs-btn-active-bg: #DB3939;
    --bs-btn-active-border-color: #D43434;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #F0F0F0;
    --bs-btn-disabled-bg: #F45050;
    --bs-btn-disabled-border-color: #F45050;
}

.blue-button {
    font-family: 'Nunito', sans-serif;
    font-weight: 600;

    --bs-btn-color: #F0F0F0;
    --bs-btn-bg: #334D71;
    --bs-btn-border-color: #334D71;
    --bs-btn-hover-color: #F0F0F0;
    --bs-btn-hover-bg: #3C486B;
    --bs-btn-hover-border-color: #3C486B;
    --bs-btn-focus-shadow-rgb: 49,132,253;
    --bs-btn-active-color: #F0F0F0;
    --bs-btn-active-bg: #365082;
    --bs-btn-active-border-color: #334D71;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #F0F0F0;
    --bs-btn-disabled-bg: #3C486B;
    --bs-btn-disabled-border-color: #3C486B;
}

.yellow-button {
    font-family: 'Nunito', sans-serif;
    font-weight: 600;

    --bs-btn-color: #F0F0F0;
    --bs-btn-bg: #F9D949;
    --bs-btn-border-color: #F9D949;
    --bs-btn-hover-color: #F0F0F0;
    --bs-btn-hover-bg: #F7D42C;
    --bs-btn-hover-border-color: #F6CF1F;
    --bs-btn-focus-shadow-rgb: 49,132,253;
    --bs-btn-active-color: #F0F0F0;
    --bs-btn-active-bg: #F6CF1F;
    --bs-btn-active-border-color: #F6C913;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #F0F0F0;
    --bs-btn-disabled-bg: #F9D949;
    --bs-btn-disabled-border-color: #F9D949;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
    text-align: center;
}

.text-center {
    text-align: center;
}

.text-white {
    color: #F0F0F0;
}

/* Header Section */
#header {
    background-color: #F0F0F0;
    padding: 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
}

#header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 0 0 4%;
    padding: 0 0 0 1%;
}

.logo {
    font-family: 'Raleway', sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
    color: #3C486B;
    transition: color 0.3s ease;
}

.logo:hover {
    color: #3C486B;
}

@media (max-width: 768px) {
 .logo {
    font-size: 1.3rem;
  }
}

nav.navbar ul {
    list-style: none;
    display: flex;
}

nav.navbar ul li {
    margin-left: 0.7rem;
}

nav.navbar ul li a {
    text-decoration: none;
    color: #EA5455;
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    transition: color 0.3s ease;
}

nav.navbar ul li a:hover {
    color: #3C486B;
}

.navbar-nav .nav-link.active {
    color: #3C486B;
}

.stick {
  display: block;
  width: 30px;
  height: 4px;
  background-color: #3C486B;
  margin-bottom: 5px;
  transition: transform 0.3s ease;
}

.toggle-active .stick:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}

.toggle-active .stick:nth-child(2) {
  opacity: 0;
}

.toggle-active .stick:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -5px);
}

.navbar-toggler {
  border: none !important;
  box-shadow: none !important;
}

[data-aos] {
  opacity: 0;
  visibility: hidden;
  transition: opacity 2s, visibility 2s;
}

[data-aos].aos-animate {
  opacity: 1;
  visibility: visible;
}

/* Hero Section */
#hero {
  width: 100%;
  height: 100vh;
  background: url("../img/hero-bg(1).jpg") top center;
  background-size: cover;
}

#hero:before {
  content: "";
  background: rgba(5, 13, 24, 0.5);
  height: 100vh;
  position: absolute;
  bottom: 0;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1;
}

#hero .hero-container {
  position: relative;
  z-index: 2;
  min-width: 300px;
  text-align: center;
}

#hero h1 {
  margin: 200px 0 10px 0;
  font-family: 'Raleway', sans-serif;
  font-size: 64px;
  font-weight: 900;
  line-height: 56px;
  color: #F0F0F0;
  padding-bottom: 3%;
}

#hero p {
  color: #F0F0F0;
  margin-bottom: 50px;
  font-size: 26px;
}

#hero p span {
  color: #F0F0F0;
  padding-bottom: 4px;
  letter-spacing: 1px;
}

@media (min-width: 1024px) {
  #hero {
    background-attachment: fixed;
  }
}

@media (max-width: 768px) {
  #hero h1 {
    font-size: 45px;
    line-height: 36px;
  }

  #hero h2 {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 30px;
  }
}

.cta-button {
    margin: 3rem auto 0.5rem;
    width: 10rem;
}

/* About Me Section */
#about {
    padding: 50px 0;
}

#about .lead {
    font-size: 26px;
}

.about-txt {
    text-align: left;
}

@media (max-width: 768px) {
  .about-txt {
    text-align: center;
  }

  #about h2 {
    margin-top: 40px;
    margin-bottom: 20px;
  }
}


/* Portfolio Section */
#portfolio {
    padding: 50px 0;
}

#portfolio h2 {
    margin-bottom: 30px;
}

.card {
    border: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
}

.card:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.card-img-top {
    height: 200px;
    object-fit: cover;
}

.card-title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

.card-text {
    color: #777;
}

/* Contact Me Section */
#contact-me {
    padding: 50px 0;
}

#contact-me h2 {
    margin-bottom: 30px;
}

.form-control {
    margin-bottom: 20px;
}

.flask-WTForm label {
  padding-bottom: 8px;
}

/* Footer Section */
footer {
    background-color: #3C486B;
    padding: 20px 0;
}

footer p {
    margin: 7px 0 16px;
    font-size: 24px;
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
}

@media (max-width: 768px) {
 footer p {
    font-size: 20px;
  }
}

.footer-links a i {
    color: #F0F0F0;
    margin: 0 20px;
    transition: color 0.2s ease;
}

.footer-links a:hover i {
    color: #F9D949;
}