/* ---------------------------- Global Styles ---------------------------- */
body {
    font-family: 'Lato', sans-serif;
    background-color: #f8f8f8;
}

section {
    padding: 50px 0;
}

#skills, #contact {
    background: #ECECEC;
}

h2 {
    margin-bottom: 30px;
    color: #3C486B;
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
}

@media (max-width: 768px) {
    h2 {
        font-size: 30px;
        margin-bottom: 20px;
    }
}

h3 {
    margin-top: 40px;
    margin-bottom: 15px;
    color: #3C486B;
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
}

@media (max-width: 768px) {
    h3 {
        margin-bottom: 10px;
    }
}

p {
    font-size: 23px;
    line-height: 1.6;
}

label {
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
    padding-bottom: 8px;
}

.solo_section {
    min-height: 17rem;
    margin: 60px auto 30px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
    text-align: center;
}

.form-container {
    text-align: left;
}

.lead {
    font-size: 26px;
}

.flask-WTForm span {
    color: #F45050;
}

.form-group {
    margin-bottom: 30px;
}

.text-center {
    text-align: center;
}

.text-white {
    color: #F0F0F0;
}

.cta-button {
    width: 10rem;
    margin: 3rem auto 0.5rem;
}

.red-button {
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
    --bs-btn-color: #F0F0F0;
    --bs-btn-bg: #F45050;
    --bs-btn-border-color: #F45050;
    --bs-btn-hover-color: #F0F0F0;
    --bs-btn-hover-bg: #E63E3E;
    --bs-btn-hover-border-color: #DB3939;
    --bs-btn-focus-shadow-rgb: 244,80,80;
    --bs-btn-active-color: #F0F0F0;
    --bs-btn-active-bg: #DB3939;
    --bs-btn-active-border-color: #D43434;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #F0F0F0;
    --bs-btn-disabled-bg: #F45050;
    --bs-btn-disabled-border-color: #F45050;
}

.outline-red-button {
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
    --bs-btn-color: #F45050;
    --bs-btn-bg: transparent;
    --bs-btn-border-color: #F45050;
    --bs-btn-hover-color: #F0F0F0;
    --bs-btn-hover-bg: #E63E3E;
    --bs-btn-hover-border-color: #DB3939;
    --bs-btn-focus-shadow-rgb: 244,80,80;
    --bs-btn-active-color: #F0F0F0;
    --bs-btn-active-bg: #DB3939;
    --bs-btn-active-border-color: #D43434;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #F0F0F0;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: #F45050;
    border: 2px solid #F45050;
    background-color: transparent;
    color: #F45050;
    padding: 8px;
}

[data-aos] {
    opacity: 0;
    visibility: hidden;
    transition: opacity 2s, visibility 2s;
}

[data-aos].aos-animate {
    opacity: 1;
    visibility: visible;
}



/* ---------------------------- Header Section ---------------------------- */
#header {
    background-color: #F0F0F0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

#header .container {
    display: flex;
    justify-content: space-between;
    margin: 0 0 0 4%;
    padding: 0 0 0 1%;
}

.slide-up {
    transform: translateY(-100%);
}

.slide-down {
    transform: translateY(0);
}

.logo {
    font-family: 'Raleway', sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
    color: #3C486B;
    transition: color 0.3s ease;
}

@media (max-width: 768px) {
    .logo {
       font-size: 1.4rem;
    }
}

.logo:hover {
    color: #3C486B;
}

nav.navbar ul {
    list-style: none;
    display: flex;
}

nav.navbar ul li {
    margin-left: 0.7rem;
}

nav.navbar ul li a {
    text-decoration: none;
    color: #EA5455;
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    transition: color 0.3s ease;
}

nav.navbar ul li a:hover,
.navbar-nav .nav-link.active {
    color: #3C486B;
}

.stick {
    display: block;
    width: 30px;
    height: 4px;
    background-color: #3C486B;
    margin-bottom: 5px;
    transition: transform 0.3s ease;
}

.toggle-active .stick:nth-child(1) {
    transform: rotate(45deg) translate(7.5px, 7.5px);
}

.toggle-active .stick:nth-child(2) {
    opacity: 0;
}

.toggle-active .stick:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
}

.navbar-toggler {
    border: none !important;
    box-shadow: none !important;
}



/* ---------------------------- Hero Section ---------------------------- */
#hero {
    color: #F0F0F0;
    width: 100%;
    height: 100vh;
    background: url("../img/hero-bg(1).jpg") top center;
    background-size: cover;
}

@media (min-width: 768px) {
    #hero {
        background-attachment: fixed;
    }
}

#hero:before {
    content: "";
    background: rgba(5, 13, 24, 0.5);
    height: 100vh;
    position: absolute;
    bottom: 0;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
}

#hero .hero-container {
    position: relative;
    z-index: 2;
    min-width: 300px;
    text-align: center;
}

#hero h1 {
    margin: 200px 0 10px 0;
    font-family: 'Raleway', sans-serif;
    font-size: 64px;
    font-weight: 900;
    line-height: 56px;
    padding-bottom: 3%;
}

@media (max-width: 768px) {
    #hero h1 {
        font-size: 45px;
        line-height: 36px;
    }
}

#hero p {
    margin-bottom: 50px;
}

#hero p span {
    padding-bottom: 4px;
    letter-spacing: 1px;
}



/* ---------------------------- About Section ---------------------------- */
#about span {
    color: #EA5455;
}

.about-txt {
    text-align: left;
}

@media (max-width: 768px) {
    .about-txt {
        text-align: center;
    }
}



/* ---------------------------- Skills Section ---------------------------- */
.skill-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: center;
}

.skill {
    width: 45%;
    margin: 30px;
}

@media (max-width: 768px) {
    .skill {
        width: 100% !important;
    }
}

.skill p {
    margin-bottom: 20px;
    position: relative;
}

.skill-bar {
    width: 150px;
    height: 150px;
    position: relative;
}



/* ---------------------------- Portfolio Section ---------------------------- */
#portfolio-tabs .nav-link {
    padding: 0.5rem 1.5rem;
    font-size: 22px;
    color: #343a40;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid transparent;
    transition: all 0.3s ease-in-out;
}

#portfolio-tabs .nav-link:hover,
#portfolio-tabs .nav-link.active {
    color: #dc3545;
    border-bottom-color: #dc3545;
}

#portfolio-tabs-content .card {
    border: none;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#portfolio-tabs-content .card:hover {
    transform: translateY(-10px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

#portfolio-tabs-content .card-img-top {
    height: 200px;
    object-fit: cover;
}

.card-title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

.card-text {
    color: #777;
}



/* ---------------------------- Testimonials Section ---------------------------- */
.content-wrapper {
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.wrapper-for-arrows {
    position: relative;
    width: 100%;
}

.review-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#imgDiv {
    border-radius: 50%;
    width: 184px;
    height: 184px;
    position: relative;
    background-size: cover;
    margin-top: 18px;
    margin-bottom: 18px;
}

#personName {
    margin-bottom: 10px;
    font-size: 28px;
    font-weight: bold;
}

#profession {
    font-size: 20px;
    margin-bottom: 22px;
    color: #F45050;
    text-decoration: none;
}

#profession:hover {
    color: #3C486B;
}

#description {
    font-size: 20px;
    width: 70%;
    max-width: 918px;
    text-align: center;
    color: rgb(92, 92, 92);
    line-height: 49px;
}

.arrow-wrap {
    position: absolute;
    top: 50%;
}

.arrow {
    width: 38px;
    height: 38px;
    border: solid #F45050;
    border-width: 0 13px 13px 0;
    cursor: pointer;
    transition: transform 0.3s;
}

.arrow:hover {
    transition: 0.3s;
    transform: scale(1.15);
}

.left-arrow-wrap {
    left: 5%;
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

.right-arrow-wrap {
    right: 5%;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.move-head {
    animation: moveHead 1.55s infinite;
    animation-delay: -0.8s;
}

@keyframes moveHead {
    0% {
    }
    25% {
        transform: translate(0.5rem, 1rem) rotate(5deg);
    }
    100% {
        transform: translate(0, 0) rotate(-5deg);
    }
}



/* ---------------------------- Contact Me Section ---------------------------- */




/* ---------------------------- Footer Section ---------------------------- */
footer {
    background-color: #3C486B;
    padding: 20px 0;
}

footer p {
    margin: 7px 0 16px;
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
}

.footer-links a i {
    color: #F0F0F0;
    margin: 0 20px;
    transition: color 0.2s ease;
}

.footer-links a:hover i {
    color: #F45050;
}



/* ---------------------------- Project Details ---------------------------- */
.carousel {
    margin: 75px auto;
}

.carousel .carousel-inner {
    text-align: center;
}

.carousel .carousel-control-prev-icon {
    margin-right: 50%;
}

.carousel .carousel-control-next-icon {
    margin-left: 50%;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    height: 100px;
    width: 100px;
    background-image: none;
}

.carousel-control-next-icon:after {
    content: '>';
}

.carousel-control-prev-icon:after {
    content: '<';
}

.carousel-control-next-icon:after, .carousel-control-prev-icon:after {
    font-size: 70px;
    font-weight: bold;
    color: #F45050;
}

.carousel-control-next-icon:hover, .carousel-control-prev-icon:hover {
    transition: 0.3s;
    transform: scale(1.15);
}

.carousel-item {
    transition: transform 0.5s ease-in-out;
}

.carousel-item.active {
    transform: translateX(0);
}

.carousel-item-next,
.carousel-item-prev {
    transform: translateX(100%);
}

.description-container p {
    margin: 5px auto;
}

.carousel-item {
    height: 500px;
}

.carousel-item img {
    height: 100%;
    object-fit: cover;
}


