{% with
title="Edit Testimonial",
content="I am a Python developer and UI/UX designer with expertise in Flask, HTML, CSS, and JavaScript. I am passionate about creating visually appealing and user-friendly web applications. I am currently pursuing a degree in Medicine at Damascus University, and though I lack a formal qualification in Computer Science, I have a keen interest in programming and design. I have gained practical experience through personal projects, developing attractive and easy-to-use web applications. My goal is to combine my medical knowledge with programming skills to create innovative solutions in the healthcare industry.",
keywords="Python developer, UI/UX designer, Flask, HTML, CSS, JavaScript, web applications, Medicine, Damascus University, programming, design, personal projects, healthcare industry, innovative solutions."
%}

{% include "header.html" %}

{% endwith %}

<section class="login">
    <div class="container">
        <div class="section-title">
            <h2>Edit Testimonial</h2>
            <p>Optimize your testimonials with some edits!</p>
        </div>

        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto" style="text-align: left;">
                {% with messages = get_flashed_messages() %}
                {% if messages %}
                {% for message in messages %}
                <p style="color: #F45050;">{{ message }}</p>
                {% endfor %}
                {% endif %}
                {% endwith %}

                <form action="{{ url_for('edit_testimonial', testimonial_id=testimonial.id) }}" class="flask-WTForm" method="POST" novalidate>
                    {{ form.hidden_tag() }}

                    <div class="form-group">
                        <label class="mb-2" for="photo">Photo:</label>
                        {{ form.photo(class="form-control form-input mb-3", placeholder="Photo") }}
                        {% for error in form.photo.errors %}
                        <span style="color: #F45050;">{{ error }}</span>
                        {% endfor %}
                    </div>
                    <div class="form-group">
                        <label class="mb-2" for="name">Name:</label>
                        {{ form.name(class="form-control form-input mb-3", placeholder="Name") }}
                        {% for error in form.name.errors %}
                        <span style="color: #F45050;">{{ error }}</span>
                        {% endfor %}
                    </div>
                    <div class="form-group">
                        <label class="mb-2" for="profession">Profession:</label>
                        {{ form.profession(class="form-control form-input mb-3", placeholder="Profession") }}
                        {% for error in form.profession.errors %}
                        <span style="color: #F45050;">{{ error }}</span>
                        {% endfor %}
                    </div>
                    <div class="form-group">
                        <label class="mb-2" for="profession_link">Profession Link:</label>
                        {{ form.profession_link(class="form-control form-input mb-3", placeholder="Profession Link") }}
                        {% for error in form.profession_link.errors %}
                        <span style="color: #F45050;">{{ error }}</span>
                        {% endfor %}
                    </div>
                    <div class="form-group">
                        <label class="mb-2" for="description">Description:</label>
                        {{ form.description(class="form-control form-input mb-3", placeholder="Description") }}
                        {% for error in form.description.errors %}
                        <span style="color: #F45050;">{{ error }}</span>
                        {% endfor %}
                    </div>
                    <div class="form-group">
                        <label class="mb-2" for="status">Status:</label>
                        {{ form.status(class="form-control form-input mb-3", placeholder="Status") }}
                        {% for error in form.status.errors %}
                        <span style="color: #F45050;">{{ error }}</span>
                        {% endfor %}
                    </div>
                    <div class="text-center">
                        {{ form.submit(class="btn red-button send_button") }}
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

{% include "footer.html" %}