    <!-- ======= Footer ======= -->
    <footer class="text-white text-center py-3">
        <div class="container">
            <p id="year">&copy; 2023 Omar Mobarak. All rights reserved.</p>
            <div class="footer-links">
                <a class="text-white" href="https://wa.me/963967208077"><i class="fab fa-lg fa-whatsapp"></i></a>
                <a class="text-white" href="https://t.me/Omarmobarak"><i class="fab fa-lg fa-telegram"></i></a>
                <a class="text-white" href="https://github.com/Saltal27"><i class="fab fa-lg fa-github"></i></a>
                <a class="text-white" href="https://dribbble.com/SalTal1"><i class="fab fa-lg fa-dribbble"></i></a>
            </div>
        </div>

        <script>
            const currentYear = new Date().getFullYear();
            document.getElementById('year').innerHTML = `&copy; ${currentYear} Omar Mobarak. All rights reserved.`;
        </script>
    </footer>
    <!-- End  Footer -->

    <!-- Bootstrap JS & JS libraries -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/typed.js/2.0.12/typed.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/aos@2.3.4/dist/aos.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/progressbar.js/1.0.1/progressbar.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.9.1/gsap.min.js"></script>

    <!-- Main JS File -->
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>

</body>
</html>