{% with title="Omar Mobarak" %}
{% include "header.html" %}
{% endwith %}

<!-- ======= Hero Section ======= -->
<section class="d-flex flex-column justify-content-center align-items-center" id="hero">
    <div class="hero-container" data-aos="fade-in">
        <h1>I am Omar Mobarak</h1>
        <p class="lead">A <em><span class="typed"
                                    data-typed-items="Python Developer, Web Developer, UI/UX Designer"></span></em></p>
        <a class="btn cta-button red-button" href="#portfolio" role="button">My Portfolio</a>

        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
        <p style="color: #F45050;">{{ message }}</p>
        {% endfor %}
        {% endif %}
        {% endwith %}

    </div>
</section>
<!-- End Hero -->

<!-- ======= About Section ======= -->
<section class="py-5" id="about">
    <div class="container">
        <h2>About Me</h2>
        <div class="row">
            <div class="col-lg-6">
                <img alt="Profile Picture" class="profile-img img-fluid mb-4"
                     src="{{ url_for('static', filename='img/profile-img.jpg') }}">
            </div>
            <div class="col-lg-6 about-txt">
                <p class="lead">I am a <span><em>Python Developer</em></span> and <span><em>UI/UX Designer</em></span>
                    with expertise in Flask, HTML, CSS, and
                    JavaScript. I have a passion for creating visually appealing and user-friendly web applications.</p>
                <p>Regarding my education, I am currently pursuing a degree in <span><em>Medicine</em></span> at
                    Damascus University.
                    Although I do not possess a formal qualification in Computer Science, I have a keen interest in
                    programming and design.
                    I have actively worked on personal projects, gaining practical experience in developing attractive
                    and easy-to-use web applications.</p>
                <p>My long term goal is to combine my medical knowledge with my programming skills to create innovative
                    solutions in the healthcare industry.</p>
            </div>
        </div>
    </div>
</section>
<!-- End About Section -->

<!-- ======= Skills Section ======= -->
<section class="py-5" id="skills">
    <div class="container">
        <h2>Skills</h2>
        <p>Areas of Expertise and Technical Specializations:</p>
        <div class="skill-container">
            <div class="row justify-content-center mx-auto">

                <div class="col-lg-4 mx-auto">
                    <div class="skill mx-auto">
                        <p class="lead">Python</p>
                        <div class="skill-bar mx-auto" id="pythonBar"></div>
                    </div>
                </div>

                <div class="col-lg-4 mx-auto">
                    <div class="skill mx-auto">
                        <p class="lead">Flask</p>
                        <div class="skill-bar mx-auto" id="flaskBar"></div>
                    </div>
                </div>

                <div class="col-lg-4 mx-auto">
                    <div class="skill mx-auto">
                        <p class="lead">HTML</p>
                        <div class="skill-bar mx-auto" id="htmlBar"></div>
                    </div>
                </div>

                <div class="col-lg-4 mx-auto">
                    <div class="skill mx-auto">
                        <p class="lead">CSS</p>
                        <div class="skill-bar mx-auto" id="cssBar"></div>
                    </div>
                </div>

                <div class="col-lg-4 mx-auto">
                    <div class="skill mx-auto">
                        <p class="lead">JavaScript</p>
                        <div class="skill-bar mx-auto" id="jsBar"></div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
<!-- End Skills Section -->


<!-- ======= Portfolio Section ======= -->
<section class="py-5" id="portfolio">
    <div class="container">
        <h2 class="text-center">Portfolio</h2>
        <p>Unlocking creativity through thoughtful design and user-centric experiences!</p>
        <ul class="nav nav-pills justify-content-center mb-4" id="portfolio-tabs" role="tablist">
            <li class="nav-item">
                <a aria-controls="all" aria-selected="true" class="nav-link tab-link active" data-toggle="pill"
                   href="#all"
                   id="all-tab" role="tab">All</a>
            </li>
            <li class="nav-item">
                <a aria-controls="webdev" aria-selected="false" class="nav-link tab-link" data-toggle="pill"
                   href="#webdev"
                   id="webdev-tab" role="tab">Web Development</a>
            </li>
            <li class="nav-item">
                <a aria-controls="uiux" aria-selected="false" class="nav-link tab-link" data-toggle="pill" href="#uiux"
                   id="uiux-tab" role="tab">UI/UX Design</a>
            </li>
            <li class="nav-item">
                <a aria-controls="python" aria-selected="false" class="nav-link tab-link" data-toggle="pill"
                   href="#python"
                   id="python-tab" role="tab">Other Python Projects</a>
            </li>
        </ul>
        <div class="tab-content" id="portfolio-tabs-content">
            <div aria-labelledby="all-tab" class="tab-pane fade show active" id="all" role="tabpanel">
                <div class="row justify-content-center">
                    {% if not current_user.is_authenticated %}
                    {% set projects = online_projects %}
                    {% endif %}
                    {% for project in projects[-1:-7:-1] %}
                    <div class="col-lg-4 col-10 mb-4">
                        <div class="card">
                            <img alt="{{ project.title }}" class="card-img-top"
                                 src="{{ project.imgs_urls.split(', ')[0] }}">
                            <div class="card-body">
                                <p class="card-title">{{ project.title }}</p>
                                <p class="card-text">{{ project.subtitle }}.</p>
                                <a class="btn outline-red-button"
                                   href="{{ url_for('project_details', project_id=project.id) }}">View Details</a>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div aria-labelledby="webdev-tab" class="tab-pane fade" id="webdev" role="tabpanel">
                <div class="row justify-content-center">
                    {% if not current_user.is_authenticated %}
                    {% set projects_webdev = online_projects_webdev %}
                    {% endif %}
                    {% for project in projects_webdev[-1:-7:-1] %}
                    <div class="col-lg-4 col-10 mb-4">
                        <div class="card">
                            <img alt="{{ project.title }}" class="card-img-top"
                                 src="{{ project.imgs_urls.split(', ')[0] }}">
                            <div class="card-body">
                                <p class="card-title">{{ project.title }}</p>
                                <p class="card-text">{{ project.subtitle }}.</p>
                                <a class="btn outline-red-button"
                                   href="{{ url_for('project_details', project_id=project.id) }}">View Details</a>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div aria-labelledby="uiux-tab" class="tab-pane fade" id="uiux" role="tabpanel">
                <div class="row justify-content-center">
                    {% if not current_user.is_authenticated %}
                    {% set projects_uiux = online_projects_uiux %}
                    {% endif %}
                    {% for project in projects_uiux[-1:-7:-1] %}
                    <div class="col-lg-4 col-10 mb-4">
                        <div class="card">
                            <img alt="{{ project.title }}" class="card-img-top"
                                 src="{{ project.imgs_urls.split(', ')[0] }}">
                            <div class="card-body">
                                <p class="card-title">{{ project.title }}</p>
                                <p class="card-text">{{ project.subtitle }}.</p>
                                <a class="btn outline-red-button"
                                   href="{{ url_for('project_details', project_id=project.id) }}">View Details</a>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div aria-labelledby="python-tab" class="tab-pane fade" id="python" role="tabpanel">
                <div class="row justify-content-center">
                    {% if not current_user.is_authenticated %}
                    {% set projects_python= online_projects_python %}
                    {% endif %}
                    {% for project in projects_python[-1:-7:-1] %}
                    <div class="col-lg-4 col-10 mb-4">
                        <div class="card">
                            <img alt="{{ project.title }}" class="card-img-top"
                                 src="{{ project.imgs_urls.split(', ')[0] }}">
                            <div class="card-body">
                                <p class="card-title">{{ project.title }}</p>
                                <p class="card-text">{{ project.subtitle }}.</p>
                                <a class="btn outline-red-button"
                                   href="{{ url_for('project_details', project_id=project.id) }}">View Details</a>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>

        {% if current_user.is_authenticated: %}
        <a class="btn cta-button red-button mx-2 my-2" href="{{ url_for('portfolio') }}" role="button">Show More</a>
        <a class="btn cta-button outline-red-button mx-2 my-2" href="{{ url_for('add_new_project') }}" role="button">New
            Project</a>
        {% else: %}
        <a class="btn cta-button red-button" href="{{ url_for('portfolio') }}" role="button">Show More</a>
        {% endif %}
    </div>
</section>
<!-- End Portfolio Section -->


<!--&lt;!&ndash; ======= Testimonials Section ======= &ndash;&gt;-->
<!--<section class="py-5" id="testimonials">-->
<!--    <div class="container">-->
<!--        <h2 class="text-center">Testimonials</h2>-->
<!--        <p>Client success stories that speak volumes!</p>-->

<!--        <div class="content-wrapper mx-auto">-->
<!--            <div class="wrapper-for-arrows">-->
<!--                <div id="reviewWrap" class="review-wrap">-->
<!--                    <div id="testimonialId" style="display: none;"></div>-->
<!--                    <div id="imgDiv" class="">-->
<!--                    </div>-->
<!--                    <div id="personName"></div>-->
<!--                    <a href="#" id="profession"></a>-->
<!--                    <div id="description">-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="left-arrow-wrap arrow-wrap">-->
<!--                    <div class="arrow" id="leftArrow"></div>-->
<!--                </div>-->
<!--                <div class="right-arrow-wrap arrow-wrap">-->
<!--                    <div class="arrow" id="rightArrow"></div>-->
<!--                </div>-->
<!--            </div>-->
<!--            {% if current_user.is_authenticated: %}-->
<!--            <a id="addTestimonial" class="btn cta-button red-button mx-2 my-2"-->
<!--               href="{{ url_for('add_new_testimonial') }}" role="button">Add</a>-->
<!--            <a id="editTestimonial" class="btn cta-button outline-red-button mx-2 my-2" role="button">Edit</a>-->
<!--            <a id="deleteTestimonial" class="btn cta-button red-button mx-2 my-2" role="button">Delete</a>-->
<!--            {% endif %}-->
<!--        </div>-->
<!--    </div>-->

<!--    {% if current_user.is_authenticated %}-->
<!--    <script>-->
<!--        var testimonialsList = {{ testimonials_list|tojson }};-->
<!--        console.log(testimonialsList);-->
<!--    </script>-->
<!--    {% else %}-->
<!--    <script>-->
<!--        var testimonialsList = {{ online_testimonials_list|tojson }};-->
<!--        console.log(testimonialsList);-->
<!--    </script>-->
<!--    {% endif %}-->

<!--</section>-->
<!--&lt;!&ndash; End Testimonials Section &ndash;&gt;-->


<!-- ======= Contact Section ======= -->
<section class="py-5 contact" id="contact">
    <div class="container">
        <div class="section-title">
            <h2>Contact Me</h2>
            <p>Thank you for your interest in contacting me! Please feel free to reach out with any questions,
                comments, or inquiries you may have. I value your feedback and will do my best to respond
                to you promptly. Additionally, you can also reach me on WhatsApp/Telegram by clicking on the
                links in the footer.</p>
        </div>

        <div class="row" data-aos="fade-in">
            <div class="col-lg-10 mt-2 mb-3 d-flex align-items-stretch justify-content-center mx-auto form-container">
                <form action="{{ url_for('home') }}#contact" class="flask-WTForm"
                      method="POST" novalidate>
                    {{ contact_form.hidden_tag() }}
                    
                    {% if sent_successfully %}
                    <span id="success-message"
                          style="color: #28a745; padding: 5px 10px; border-radius: 5px; margin-bottom: 10px;">
                          {{ sent_successfully }}
                    </span>
                    <script>
                         var successMessage = document.getElementById("success-message");
                         
                         window.addEventListener("beforeunload", function() {
                           successMessage.remove();
                         });
                    </script>
                    {% endif %}
                    
                    <script>
                              // Clear the URL hash after loading the page
                              window.addEventListener('load', function() {
                                window.history.replaceState({}, document.title, window.location.pathname);
                              });
                    </script>

                    <div class="row">
                        <div class="form-group col-md-6">
                            <label for="name">Name:</label>
                            {{ contact_form.name(class="form-control form-input", placeholder="Name") }}
                            {% for error in contact_form.name.errors %}
                             <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                        <div class="form-group col-md-6">
                            <label for="phone_number">Phone Number:</label>
                            {{ contact_form.phone_number(class="form-control form-input", placeholder="Phone Number")
                            }}
                            {% for error in contact_form.phone_number.errors %}
                             <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="email">Email:</label>
                        {{ contact_form.email(class="form-control form-input", placeholder="Email") }}
                        {% for error in contact_form.email.errors %}
                         <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    <div class="form-group">
                        <label for="message">Message:</label>
                        {{ contact_form.message(class="form-control form-textarea", placeholder="Message") }}
                        {% for error in contact_form.message.errors %}
                         <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    <div class="text-center">
                        {{ contact_form.submit(class="btn red-button cta-button") }}
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<!-- End Contact Section -->

{% include "footer.html" %}
