{% with
title="Omar Mobarak",
content="I am a Python developer and UI/UX designer with expertise in Flask, HTML, CSS, and JavaScript. I am passionate about creating visually appealing and user-friendly web applications. I am currently pursuing a degree in Medicine at Damascus University, and though I lack a formal qualification in Computer Science, I have a keen interest in programming and design. I have gained practical experience through personal projects, developing attractive and easy-to-use web applications. My goal is to combine my medical knowledge with programming skills to create innovative solutions in the healthcare industry.",
keywords="Python developer, UI/UX designer, Flask, HTML, CSS, JavaScript, web applications, Medicine, Damascus University, programming, design, personal projects, healthcare industry, innovative solutions."
%}

{% include "header.html" %}

{% endwith %}

<!-- ======= Hero Section ======= -->
<section class="d-flex flex-column justify-content-center align-items-center" id="hero">
    <div class="hero-container" data-aos="fade-in">
        <h1>I am Omar Mobarak</h1>
        <p>A <em><span class="typed" data-typed-items="Python Developer, Web Developer, UI/UX Designer"></span></em></p>
        <a class="btn cta-button red-button" href="#portfolio" role="button">My Portfolio</a>

        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
        <p style="color: #F45050;">{{ message }}</p>
        {% endfor %}
        {% endif %}
        {% endwith %}

    </div>
</section>
<!-- End Hero -->

<!-- ======= About Section ======= -->
<section class="py-5" id="about">
    <div class="container">
        <h2>About Me</h2>
        <div class="row">
            <div class="col-lg-6">
                <img alt="Profile Picture" class="profile-img img-fluid mb-4"
                     src="{{ url_for('static', filename='img/profile-img.jpg') }}">
            </div>
            <div class="col-lg-6 about-txt">
                <p class="lead">I am a <span><em>Python Developer</em></span> and <span><em>UI/UX Designer</em></span> with expertise in Flask, HTML, CSS, and
                    JavaScript. I have a passion for creating visually appealing and user-friendly web applications.</p>
                <p>Regarding my education, I am currently pursuing a degree in <span><em>Medicine</em></span> at Damascus University.
                    Although I do not possess a formal qualification in Computer Science, I have a keen interest in
                    programming and design.
                    I have actively worked on personal projects, gaining practical experience in developing attractive
                    and easy-to-use web applications.</p>
                <p>My long term goal is to combine my medical knowledge with my programming skills to create innovative
                    solutions in the healthcare industry.</p>
            </div>
        </div>
    </div>
</section>
<!-- End About Section -->

<!-- ======= Portfolio Section ======= -->
<section class="py-5" id="portfolio">
    <div class="container">
        <h2 class="text-center">Portfolio</h2>
        <p>Unlocking creativity through thoughtful design and user-centric experiences!</p>
        <ul class="nav nav-pills justify-content-center mb-4" id="portfolio-tabs" role="tablist">
            <li class="nav-item">
                <a class="nav-link tab-link active" id="all-tab" data-toggle="pill" href="#all" role="tab" aria-controls="all" aria-selected="true">All</a>
            </li>
            <li class="nav-item">
                <a class="nav-link tab-link" id="webdev-tab" data-toggle="pill" href="#webdev" role="tab" aria-controls="webdev" aria-selected="false">Web Development</a>
            </li>
            <li class="nav-item">
                <a class="nav-link tab-link" id="uiux-tab" data-toggle="pill" href="#uiux" role="tab" aria-controls="uiux" aria-selected="false">UI/UX Design</a>
            </li>
            <li class="nav-item">
                <a class="nav-link tab-link" id="python-tab" data-toggle="pill" href="#python" role="tab" aria-controls="python" aria-selected="false">Other Python Projects</a>
            </li>
        </ul>
        <div class="tab-content" id="portfolio-tabs-content">
            <div class="tab-pane fade show active" id="all" role="tabpanel" aria-labelledby="all-tab">
                <div class="row justify-content-center">
                    {% if not current_user.is_authenticated %}
                    {% set projects = online_projects %}
                    {% endif %}
                    {% for project in projects[-1:-7:-1] %}
                    <div class="col-lg-4 col-10 mb-4">
                        <div class="card">
                            <img alt="{{ project.title }}" class="card-img-top" src="{{ project.imgs_urls.split(', ')[0] }}">
                            <div class="card-body">
                                <h5 class="card-title">{{ project.title }}</h5>
                                <p class="card-text">{{ project.subtitle }}.</p>
                                <a class="btn outline-red-button" href="{{ url_for('project_details', project_id=project.id) }}">View Details</a>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div class="tab-pane fade" id="webdev" role="tabpanel" aria-labelledby="webdev-tab">
                <div class="row justify-content-center">
                    {% if not current_user.is_authenticated %}
                    {% set projects_webdev = online_projects_webdev %}
                    {% endif %}
                    {% for project in projects_webdev[-1:-7:-1] %}
                    <div class="col-lg-4 mb-4">
                        <div class="card">
                            <img alt="{{ project.title }}" class="card-img-top" src="{{ project.imgs_urls.split(', ')[0] }}">
                            <div class="card-body">
                                <h5 class="card-title">{{ project.title }}</h5>
                                <p class="card-text">{{ project.subtitle }}.</p>
                                <a class="btn outline-red-button" href="{{ url_for('project_details', project_id=project.id) }}">View Details</a>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div class="tab-pane fade" id="uiux" role="tabpanel" aria-labelledby="uiux-tab">
                <div class="row justify-content-center">
                    {% if not current_user.is_authenticated %}
                    {% set projects_uiux = online_projects_uiux %}
                    {% endif %}
                    {% for project in projects_uiux[-1:-7:-1] %}
                    <div class="col-lg-4 mb-4">
                        <div class="card">
                            <img alt="{{ project.title }}" class="card-img-top" src="{{ project.imgs_urls.split(', ')[0] }}">
                            <div class="card-body">
                                <h5 class="card-title">{{ project.title }}</h5>
                                <p class="card-text">{{ project.subtitle }}.</p>
                                <a class="btn outline-red-button" href="{{ url_for('project_details', project_id=project.id) }}">View Details</a>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div class="tab-pane fade" id="python" role="tabpanel" aria-labelledby="python-tab">
                <div class="row justify-content-center">
                    {% if not current_user.is_authenticated %}
                    {% set projects_python= online_projects_python %}
                    {% endif %}
                    {% for project in projects_python[-1:-7:-1] %}
                    <div class="col-lg-4 mb-4">
                        <div class="card">
                            <img alt="{{ project.title }}" class="card-img-top" src="{{ project.imgs_urls.split(', ')[0] }}">
                            <div class="card-body">
                                <h5 class="card-title">{{ project.title }}</h5>
                                <p class="card-text">{{ project.subtitle }}.</p>
                                <a class="btn outline-red-button" href="{{ url_for('project_details', project_id=project.id) }}">View Details</a>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>

        {% if current_user.is_authenticated: %}
        <a class="btn cta-button red-button mx-2 my-2" href="{{ url_for('portfolio') }}" role="button">Show More</a>
        <a class="btn cta-button outline-red-button mx-2 my-2" href="{{ url_for('add_new_project') }}" role="button">New Project</a>
        {% else: %}
        <a class="btn cta-button red-button" href="{{ url_for('portfolio') }}" role="button">Show More</a>
        {% endif %}
    </div>
</section>
<!-- End Portfolio Section -->

<!-- ======= Contact Section ======= -->
<section class="contact" id="contact">
    <div class="container">
        <div class="section-title">
            <h2>Contact Me</h2>
            <p>Thank you for your interest in contacting me! Please feel free to reach out with any questions,
                comments, or inquiries you may have. I value your feedback and will do my best to respond
                to you promptly. Additionally, you can also reach me on WhatsApp/Telegram by clicking on the
                links in the footer.</p>
        </div>

        <div class="row" data-aos="fade-in">
            <div class="col-lg-7 mt-2 mb-3 d-flex align-items-stretch mx-auto" style="text-align: left;">
                <form action="{{ url_for('home') }}#contact" class="flask-WTForm" method="POST" novalidate>
                    {{ contact_form.hidden_tag() }}
                    {% if sent_successfully %}
                    <span id="success-message"
                          style="color: #28a745; padding: 5px 10px; border-radius: 5px; margin-bottom: 10px;">
                                    {{ sent_successfully }}
                                </span>
                    <script>
                                  // Get the success message element
                                  var successMessage = document.getElementById("success-message");

                                  // Remove the success message when the page is refreshed
                                  window.addEventListener("beforeunload", function() {
                                    successMessage.remove();
                                  });
                    </script>
                    {% endif %}
                    <script>
                              // Clear the URL hash after loading the page
                              window.addEventListener('load', function() {
                                window.history.replaceState({}, document.title, window.location.pathname);
                              });
                    </script>

                    <div class="row">
                        <div class="form-group col-md-6">
                            <label for="name">Name:</label>
                            {{ contact_form.name(class="form-control form-input", placeholder="Name") }}
                            {% for error in contact_form.name.errors %}
                            <span style="color: red;">{{ error }}</span>
                            {% endfor %}
                        </div>
                        <div class="form-group col-md-6">
                            <label for="phone_number">Phone Number:</label>
                            {{ contact_form.phone_number(class="form-control form-input", placeholder="Phone Number")
                            }}
                            {% for error in contact_form.phone_number.errors %}
                            <span style="color: red;">{{ error }}</span>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="email">Email:</label>
                        {{ contact_form.email(class="form-control form-input", placeholder="Email") }}
                        {% for error in contact_form.email.errors %}
                        <span style="color: red;">{{ error }}</span>
                        {% endfor %}
                    </div>
                    <div class="form-group">
                        <label for="message">Message:</label>
                        {{ contact_form.message(class="form-control form-textarea", placeholder="Message") }}
                        {% for error in contact_form.message.errors %}
                        <span style="color: red;">{{ error }}</span>
                        {% endfor %}
                    </div>
                    <div class="text-center">
                        {{ contact_form.submit(class="btn red-button  cta-button") }}
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<!-- End Contact Section -->

{% include "footer.html" %}
