{% with
title="Admin Login",
content="I am a Python developer and UI/UX designer with expertise in Flask, HTML, CSS, and JavaScript. I am passionate about creating visually appealing and user-friendly web applications. I am currently pursuing a degree in Medicine at Damascus University, and though I lack a formal qualification in Computer Science, I have a keen interest in programming and design. I have gained practical experience through personal projects, developing attractive and easy-to-use web applications. My goal is to combine my medical knowledge with programming skills to create innovative solutions in the healthcare industry.",
keywords="Python developer, UI/UX designer, Flask, HTML, CSS, JavaScript, web applications, Medicine, Damascus University, programming, design, personal projects, healthcare industry, innovative solutions."
%}

{% include "header.html" %}

{% endwith %}

<section class="login">
    <div class="container">
        <div class="section-title">
            <h2>Admin Login</h2>
            <p>Login as an Admin to have some additional features!</p>
        </div>

        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto" style="text-align: left;">
                {% with messages = get_flashed_messages() %}
                {% if messages %}
                {% for message in messages %}
                <p style="color: #F45050;">{{ message }}</p>
                {% endfor %}
                {% endif %}
                {% endwith %}

                <form action="{{ url_for('login_admin') }}" class="flask-WTForm" method="POST" novalidate>
                    {{ login_form.hidden_tag() }}

                    <div class="form-group">
                        <label class="mb-2" for="email">Email:</label>
                        {{ login_form.email(class="form-control form-input mb-3", placeholder="Email") }}
                        {% for error in login_form.email.errors %}
                        <span style="color: #F45050;">{{ error }}</span>
                        {% endfor %}
                    </div>
                    <div class="form-group">
                        <label class="mb-2" for="password">Password:</label>
                        {{ login_form.password(class="form-control form-input mb-3", placeholder="Password") }}
                        {% for error in login_form.password.errors %}
                        <span style="color: #F45050;">{{ error }}</span>
                        {% endfor %}
                    </div>
                    <div class="text-center">
                        {{ login_form.submit(class="btn red-button send_button") }}
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

{% include "footer.html" %}