{% with title="Admin Login" %}
{% include "header.html" %}
{% endwith %}

<section class="py-5 solo_section">
    <div class="container">
        <div class="section-title">
            <h2>Admin Login</h2>
            <p>Login as an Admin to enjoy additional features!</p>
        </div>

        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto form-container">
                {% with messages = get_flashed_messages() %}
                {% if messages %}
                {% for message in messages %}
                <p style="color: #F45050;">{{ message }}</p>
                {% endfor %}
                {% endif %}
                {% endwith %}

                <form action="{{ url_for('login_admin') }}" class="flask-WTForm" method="POST" novalidate>
                    {{ login_form.hidden_tag() }}

                    <div class="form-group">
                        <label class="mb-2" for="email">Email:</label>
                        {{ login_form.email(class="form-control form-input mb-3", placeholder="Email") }}
                        {% for error in login_form.email.errors %}
                        <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    <div class="form-group">
                        <label class="mb-2" for="password">Password:</label>
                        {{ login_form.password(class="form-control form-input mb-3", placeholder="Password") }}
                        {% for error in login_form.password.errors %}
                        <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    <div class="text-center">
                        {{ login_form.submit(class="btn red-button cta-button") }}
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

{% include "footer.html" %}