{% with title="Portfolio" %}
{% include "header.html" %}
{% endwith %}

<!-- ======= Portfolio Section ======= -->
<section class="py-5" id="portfolio">
    <div class="container">
        <h2 class="text-center">Portfolio</h2>
        <p>Unlocking creativity through thoughtful design and user-centric experiences!</p>
        <ul class="nav nav-pills justify-content-center mb-4" id="portfolio-tabs" role="tablist">
            <li class="nav-item">
                <a aria-controls="all" aria-selected="true" class="nav-link tab-link active" data-toggle="pill"
                   href="#all"
                   id="all-tab" role="tab">All</a>
            </li>
            <li class="nav-item">
                <a aria-controls="webdev" aria-selected="false" class="nav-link tab-link" data-toggle="pill"
                   href="#webdev"
                   id="webdev-tab" role="tab">Web Development</a>
            </li>
            <li class="nav-item">
                <a aria-controls="uiux" aria-selected="false" class="nav-link tab-link" data-toggle="pill" href="#uiux"
                   id="uiux-tab" role="tab">UI/UX Design</a>
            </li>
            <li class="nav-item">
                <a aria-controls="python" aria-selected="false" class="nav-link tab-link" data-toggle="pill"
                   href="#python"
                   id="python-tab" role="tab">Other Python Projects</a>
            </li>
        </ul>
        <div class="tab-content" id="portfolio-tabs-content">
            <div aria-labelledby="all-tab" class="tab-pane fade show active" id="all" role="tabpanel">
                <div class="row justify-content-center">
                    {% if not current_user.is_authenticated %}
                    {% set projects = online_projects %}
                    {% endif %}
                    {% for project in projects[-1:-7:-1] %}
                    <div class="col-lg-4 col-10 mb-4">
                        <div class="card">
                            <img alt="{{ project.title }}" class="card-img-top"
                                 src="{{ project.imgs_urls.split(', ')[0] }}">
                            <div class="card-body flexbox">
                                <p class="card-title">{{ project.title }}</p>
                                <p class="card-text">{{ project.subtitle }}.</p>
                                <a class="btn outline-red-button w-50 mx-auto"
                                   href="{{ url_for('project_details', project_id=project.id) }}">View Details</a>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div aria-labelledby="webdev-tab" class="tab-pane fade" id="webdev" role="tabpanel">
                <div class="row justify-content-center">
                    {% if not current_user.is_authenticated %}
                    {% set projects_webdev = online_projects_webdev %}
                    {% endif %}
                    {% for project in projects_webdev[-1:-7:-1] %}
                    <div class="col-lg-4 col-10 mb-4">
                        <div class="card">
                            <img alt="{{ project.title }}" class="card-img-top"
                                 src="{{ project.imgs_urls.split(', ')[0] }}">
                            <div class="card-body flexbox">
                                <p class="card-title">{{ project.title }}</p>
                                <p class="card-text">{{ project.subtitle }}.</p>
                                <a class="btn outline-red-button w-50 mx-auto"
                                   href="{{ url_for('project_details', project_id=project.id) }}">View Details</a>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div aria-labelledby="uiux-tab" class="tab-pane fade" id="uiux" role="tabpanel">
                <div class="row justify-content-center">
                    {% if not current_user.is_authenticated %}
                    {% set projects_uiux = online_projects_uiux %}
                    {% endif %}
                    {% for project in projects_uiux[-1:-7:-1] %}
                    <div class="col-lg-4 col-10 mb-4">
                        <div class="card">
                            <img alt="{{ project.title }}" class="card-img-top"
                                 src="{{ project.imgs_urls.split(', ')[0] }}">
                            <div class="card-body flexbox">
                                <p class="card-title">{{ project.title }}</p>
                                <p class="card-text">{{ project.subtitle }}.</p>
                                <a class="btn outline-red-button w-50 mx-auto"
                                   href="{{ url_for('project_details', project_id=project.id) }}">View Details</a>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div aria-labelledby="python-tab" class="tab-pane fade" id="python" role="tabpanel">
                <div class="row justify-content-center">
                    {% if not current_user.is_authenticated %}
                    {% set projects_python= online_projects_python %}
                    {% endif %}
                    {% for project in projects_python[-1:-7:-1] %}
                    <div class="col-lg-4 col-10 mb-4">
                        <div class="card">
                            <img alt="{{ project.title }}" class="card-img-top"
                                 src="{{ project.imgs_urls.split(', ')[0] }}">
                            <div class="card-body flexbox">
                                <p class="card-title">{{ project.title }}</p>
                                <p class="card-text">{{ project.subtitle }}.</p>
                                <a class="btn outline-red-button w-50 mx-auto"
                                   href="{{ url_for('project_details', project_id=project.id) }}">View Details</a>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>

        {% if current_user.is_authenticated: %}
        <a class="btn cta-button red-button mx-2 my-2" href="{{ url_for('portfolio') }}" role="button">Show More</a>
        <a class="btn cta-button outline-red-button mx-2 my-2" href="{{ url_for('add_new_project') }}" role="button">New
            Project</a>
        {% else: %}
        <a class="btn cta-button red-button" href="{{ url_for('portfolio') }}" role="button">Show More</a>
        {% endif %}
    </div>
</section>
<!-- End Portfolio Section -->

{% include "footer.html" %}